{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "eslint:recommended", "@vue/prettier"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "arrowParens": "avoid",
        "trailingComma": "none"
      }
    ]
    // "prettier/prettier": ["error"]
  }
}
